body
{
  background-color: #EFFFFD;
}
h1
{
  color:#0E3EDA;
}
h3
{
  color: #00FFDD;
}

hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: #B7CADB;
  border-width: 4px;
  width: 70%;
}
